* {
margin: 10px 0px 10px 0px;
}

.logo{
 color: #ed1e79;
 font-family: 'Rock Salt', cursive;
 margin: 10px;
 display: block;
}

#logo-lujinha-home{
    float: left;
    width: 70px;
}

.nav {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    background-color: none;
    color: #ed1e79;
    border-top-style: solid;
    border-color: black;
    text-align: left;
    padding-left: 5px;
    text-decoration: none;
}

a:hover {
    background-color:#40e0d0;
    font-family: Helvetica, sans-serif;
    
}

.conteudo h3 {
    font-family: Helvetica, sans-serif;
    height: 700px;
    background-color: #766776 ;
    height: 100%;
    font-family: 'Rock Salt', cursive;
    color: white;
    text-align: center;
    padding: 10 px;
}


.footer {
    font-family: Helvetica, sans-serif;
    border-top-style: solid;
    border-color: white;
    background-color: #40e0d0;
    height: 150px;
}

.footer p {
    margin: 20px;
    align: center left;
}




