* {
    margin: 5px 15px 5px 15px;
}

.logo img {
    float: left;
}

.logo {
    font-family:  'Abril Fatface', cursive;
    align: left;
    font-size: 3em;
    color: #eac67a;
}

.nav {
    background-color:none;
    border-top-style: solid;
    border-width: 1px;
    border-color: #984b43;
    margin: 15px 0px ; 
    float: right;
    color:#984b43;
}

a:link{
    text-decoration:none;
    font-family:  'Abril Fatface', cursive;
}

a:hover{
    text-decoration: underline;
    color: #eac67a;
}

.conteudo-titulo{
    margin-top: 50px;
    background-color: green;
    vertical-align: middle;
}

.h1,h2 {
    font-family:  'Abril Fatface', cursive; 
}
.p,li {
    font-family:'Roboto', sans-serif;
}



