. * {
margin:0;
}

.header {
    background-color: red;
    border:red solid 20px;
}

.linha {
    display:grid;
    border: black solid 1px;
    height: 400px; 
    text-align: center;
}


.ul{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr  1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;  
}


#linha1 {
    display:grid;
    background-color: blue;
}

#linha2{
    background-color: yellow;
}

#linha3{
    background-color: green;
}

#linha4 {
    display:grid;
    background-color: blue;
}

#linha5{
    background-color: yellow;
}

#linha6{
    background-color: green;
}

#linha7{
    /* black */
    background-color: black;
    color: white;
    grid-template-columns: 100% 50% 1fr 1fr;
    /* grid-row: 3; */
    grid-column: 1;

    
}
#linha8{
    /* black */
    background-color: black;
    color: white;
    grid-template-columns: 1fr 1fr 50% 100%;
    grid-column: 3;
}


#linha9{
/* grid-row-start: 4 ; */
}